.container{
  margin-left:25%;
}
h1 {
  font-family: 'Arapey',
  serif;
  font-family: 'Cinzel',
  serif;
  
}
p {
  font-family: 'Montserrat',
  sans-serif;
}
p{
  font-family: 'Dosis',
  sans-serif;
  font-size: 100px;
}
