<link rel="stylesheet" href="{{url_for('static',filename='css/navbar.css')}}">
<nav  class=" navbar peach-gradient color-block mb-3 mx-auto " >
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  
          <a class="navbar-brand" href="/">Home</a>
          <a class="navbar-brand" href="/{{'categories/Business'}}">Business</a>
          <a class="navbar-brand" href="/{{'categories/Science'}}">Science</a>
          <a class="navbar-brand" href="/{{'categories/Technology'}}">Technology</a>
          <a class="navbar-brand" href="/{{'categories/Entertainment'}}">Entertainment</a>
          <a class="navbar-brand" href="/{{'categories/Sports'}}">Sports</a>
          <img src="https://cdn3.iconfinder.com/data/icons/news-3/500/news-report-media_13-512.png" height="80px">
  
</nav>
