<link rel="stylesheet" href="{{url_for('static',filename='css/navbar.css')}}">

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <nav class="navbar peach-gradient color-block mb-3 mx-auto ">
          <a class="navbar-brand" href="/">Home</a>
          <a class="navbar-brand" href="/{{'categories/Business'}}">Business</a>
          <a class="navbar-brand" href="/{{'categories/Science'}}">Science</a>
          <a class="navbar-brand" href="/{{'categories/Technology'}}">Technology</a>
          <a class="navbar-brand" href="/{{'categories/Entertainment'}}">Entertainment</a>
          <a class="navbar-brand" href="/{{'categories/Sports'}}">Sports</a>
          
  
</nav>
